.avatar {
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    background-color: #fff;
}

.avatar img {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}

@media screen and (max-width: 480px) {
    .avatar {
        width: 90px;
        max-height: 90px;
    }
}