body {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(to top left, #e66465, purple) no-repeat;
}

@media (max-width: 760px) {
  body {
    background: #171717;
  }
}
